h1{
	color: red;
}

h2 {
	background-color: green;
	color: red;
}
h3{
	background-color: green;
	color: white;
}
.p1{
	font-weight: lighter;
	color: red;
	font-size: 39px;
}
.d{
	background-color: yellow;
	color: red;
}
.z1{
	background-color: red;
}
.f1{
	background-color: gray;
	color: white;
}
.z2{
	background-color: green;
}

.t1{
	background-color: gray;
	color: white;
}
.r1{
	color: white;
}
.y1{
	background-color: black;
	color: white;
}
.w1{
	background-color: gray;
	color: white;
}
.j1{
	background-color: gray;
	color: black;
}
.q1{
	background-color: gray;
	color: white;
}
.b2{
	background-color: blue;
}
.df{
	font-size: 30px;
}
.gd{
	background-color: #6bca84
}
.gu{
	background-color: yellow;
}
.ñu{
	background-color: black;
	font-size: 30px;
	color: blue;	
}
.pu{
	background-color: black;	
	color: white;

}
.tu1{
	color: red;
	font-size: 40px;
}
.p32{
	text-align: center;
	color: green;
	font-size: 30px;
}
.te5{
	background-color: blue;
}
.udd{
	color: yellow;
}
.udd1{
	color: blue;
}
	


















